<mat-card>
    <mat-card-title>
        <mat-icon fontSet="fontawesome" fontIcon="fa-connectdevelop"></mat-icon>&nbsp;流量統計
    </mat-card-title>
    <mat-card-content>
        <form [formGroup]="analyticsForm">
            <div>
                <mat-form-field floatLabel="always">
                    <mat-select formControlName="AnalyticsType" placeholder="統計來源">
                        <mat-option *ngFor="let item of analyticsTypeList" [value]="item.id">{{ item.name }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field floatLabel="always">
                    <input matInput [max]="maxDate" [min]="minDate" placeholder="週索引" formControlName="AnalyticsDate" [matDatepicker]="AnalyticsDatepicker" disabled required/>
                    <mat-datepicker-toggle [for]="AnalyticsDatepicker" matSuffix></mat-datepicker-toggle>
                    <mat-datepicker #AnalyticsDatepicker  disabled="false" touchUi="true"></mat-datepicker>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field floatLabel="always">
                    <input type="number" name="BrowseVolume" matInput placeholder="瀏覽量" formControlName="BrowseVolume" required/>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field floatLabel="always">
                    <input type="number" name="VisitCount" matInput placeholder="訪次" formControlName="VisitCount" required/>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field floatLabel="always">
                    <input type="number" name="UserCount" matInput placeholder="使用者" formControlName="UserCount" required/>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field floatLabel="always">
                    <input type="number" name="AvgTime" matInput placeholder="網頁下載平均所需時間" formControlName="AvgTime" required/>
                    <span matSuffix>秒</span>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field floatLabel="always">
                    <input type="number" name="StayTime" matInput placeholder="平均工作階段時間長度" formControlName="StayTime" required/>
                    <span matSuffix>秒</span>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field floatLabel="always">
                    <input type="number" name="PageCount" matInput placeholder="單次工作階段頁數" formControlName="PageCount" required/>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field floatLabel="always">
                    <input type="number" name="ExitRate" matInput placeholder="跳出率" formControlName="ExitRate" required/>
                    <span matSuffix>%</span>
                </mat-form-field>
            </div>
            <div>
                <button mat-raised-button color="primary" [disabled]="analyticsForm.invalid" (click)="saveForm()"><mat-icon>done</mat-icon></button>
                <button mat-raised-button (click)="clearForm()"><mat-icon>clear</mat-icon></button>
            </div>
            <!--<mat-icon fontSet="fontawesome" fontIcon="fa-check" class="fa-2x"></mat-icon>-->
        </form>
    </mat-card-content>
    <mat-card-footer>
    </mat-card-footer>
</mat-card>
