<mat-card>
    <mat-card-title>
    </mat-card-title>
    <mat-card-content>
        <h4>匯出日期區間</h4>
        <div class="navexport form-group">
            <div class="input-group" daterangepicker [options]="pickerOptions" (selected)="selectedDate($event)">
                <span class="form-control uneditable-input" name="dateRange">
          {{ dateRange.start | date:'yyyy-MM-dd' }} ~ {{ dateRange.end | date:'yyyy-MM-dd' }}
        </span>
                <span class="input-group-btn">
          <a type="button" class="btn btn-default">
            <mat-icon fontSet="fontawesome" fontIcon="fa-calendar"></mat-icon>
          </a>
        </span>
                <span class="input-group-btn">
        </span>
            </div>
            <button class="btn btn-default" (click)="saveForm()">
        <mat-icon fontSet="fontawesome" fontIcon="fa-download"></mat-icon>
      </button>
        </div>
        <!--
        <div class="row">
            <div class="col-xs-12 col-12 col-md-4 form-group">
                <input class="form-control" #drp="bsDaterangepicker" bsDaterangepicker [(ngModel)]="dateRange" [bsConfig]="bsConfig">
            </div>
        </div>
                            <input matInput [max]="maxDate" [min]="minDate" placeholder="匯出日期" formControlName="ExportDate" [matDatepicker]="ExportDatepicker" disabled required/>
                    <mat-datepicker-toggle [for]="ExportDatepicker" matSuffix></mat-datepicker-toggle>
                    <mat-datepicker #ExportDatepicker startView="year" disabled="false" touchUi="true"></mat-datepicker>

        <form [formGroup]="exportForm">
            <div class="navexport">
                <mat-form-field floatLabel="always">
                    <input matInput placeholder="匯出日期區間" class="form-control" formControlName="ExportDate" daterangepicker  [options]="pickerOptions" (selected)="selectedDate($event, daterange)" />
                </mat-form-field>
                <button mat-raised-button color="primary" [disabled]="exportForm.invalid" (click)="saveForm()"><mat-icon>file_download</mat-icon></button>
            </div>
        </form>
    -->
    </mat-card-content>
</mat-card>