<mat-card>
    <mat-card-header>
        <span class="mat-h1 mat-card-header">{{ data.BaseDate | date:'MM/dd' }}&nbsp;({{ data.BaseDate | amDateFormat:'ddd' }})</span><span class="clock" style="zoom: 0.7;-moz-transform: scale(0.7)"></span>
    </mat-card-header>
    <mat-card-content>
        <div style="width: 550px">
            <mat-tab-group mat-stretch-tabs>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon fontSet="fontawesome" fontIcon="fa-table" style="margin-top: 15px;">&nbsp;</mat-icon>基金
                    </ng-template>
                    <mat-table #table [dataSource]="fundDataSource" matSort>
                        <ng-container matColumnDef="FundId">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                            <mat-cell *matCellDef="let row">{{ row.FundId }}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="IsLocked">
                            <mat-header-cell *matHeaderCellDef>&nbsp;</mat-header-cell>
                            <mat-cell *matCellDef="let row"><i class="fa fa-lock warn" *ngIf="row.IsLocked"></i></mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="FundName">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                            <mat-cell *matCellDef="let row">{{ row.FundName }}<span *ngIf="row.Nav > 0">({{ row.NavDate | slice:3 }})</span></mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="NavDate">
                            <mat-header-cell *matHeaderCellDef>&nbsp;</mat-header-cell>
                            <mat-cell *matCellDef="let row"></mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="Nav">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>NAV</mat-header-cell>
                            <mat-cell *matCellDef="let row">{{ row.Nav }}</mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedFundColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedFundColumns;"></mat-row>
                    </mat-table>
                    <mat-paginator #fundPaginator [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon fontSet="fontawesome" fontIcon="fa-list" style="margin-top: 15px;">&nbsp;</mat-icon>日誌
                    </ng-template>
                    <mat-table #table [dataSource]="logDataSource" matSort>
                        <ng-container matColumnDef="LogTime">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Time</mat-header-cell>
                            <mat-cell *matCellDef="let row">{{ row.LogTime | date:'HH:mm' }}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="Description">
                            <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
                            <mat-cell *matCellDef="let row">{{ row.Description }}</mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedLogColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedLogColumns;"></mat-row>
                    </mat-table>
                    <mat-paginator #logPaginator [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
                </mat-tab>
            </mat-tab-group>
        </div>
    </mat-card-content>
</mat-card>
