<mat-card>
    <mat-card-header>
    </mat-card-header>
    <mat-card-title>
        <alert *ngIf="data.Done" type="success"><strong>帳平</strong>，請等候OP通知</alert>
        <div style="width: 320px;display: flex; flex: 1 1">
            <canvas id="canvas1">{{ lockedChart }}</canvas>
            <canvas id="canvas2">{{ confirmedChart }}</canvas>
        </div>
    </mat-card-title>
    <mat-card-content>
        <div style="width: 550px">
            <mat-tab-group mat-stretch-tabs>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon fontSet="fontawesome" fontIcon="fa-table" style="margin-top: 15px;">&nbsp;</mat-icon>基金({{ data.Confirmed }}/{{ fundCount }})
                    </ng-template>
                    <app-fund-list></app-fund-list>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon fontSet="fontawesome" fontIcon="fa-list" style="margin-top: 15px;">&nbsp;</mat-icon>日誌({{ logCount }})
                    </ng-template>
                    <app-log-list></app-log-list>
                </mat-tab>
            </mat-tab-group>
        </div>
    </mat-card-content>
    <mat-card-footer>
        <div style="width: 550px; display: flex; flex: 1 1;">
            <div class="col-md-8 col-xs-12">
                <h6 class="copyright small" *ngIf="data.SummaryList.length > 0">{{ data.SummaryList[0].LogTime | amDateFormat:'HH:mm' }}&nbsp;{{ data.SummaryList[0].Description }}</h6>
            </div>
            <div class="col-md-4 col-xs-12 text-xs-right">
                <h6 class="copyright small">Update: {{ data.CurrentTime | amDateFormat:'HH:mm' }}</h6>
            </div>
        </div>
    </mat-card-footer>
</mat-card>