.mat-column-FundId {
    text-align: center;
}

.mat-column-FundName {
    flex: 9;
}

.mat-column-Nav {
    text-align: right;
    flex: 2;
}

.mat-header-cell {
    font-weight: bold;
    text-align: center;
}

.mat-card-header {
    font-size: 56px;
    margin-top: 25px;
}